#header {
    margin-bottom: 0px;
    background-image: url(../images/banner-php.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
.form-row {
    margin-top: 20px;
}
.active a {
    color: white;
    font-weight: bold;
}